/* rest css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    
    width: 99vw;
    height: 100vh;
    background: #fafff8;
}

/*header principal*/
.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #da0146 10%, rgb(219, 53, 53) 65%);
    margin-top: 9px;
    padding: 2px;
    width: 100%;
    height: 100px;
}

.logo{
    color: white;
}

h1{
    margin-left: 65px;
}

h4{
    font-size: 20px;
    font-family: sans-serif;

}

#fecharPagina{
    color: white;
    margin-right: 45px;
    cursor: pointer;
}

/*seção esquerda*/

#lado1{
  display: flex;
  float: left;
  width: 49%;
  height: 90%;
  border: 2px solid #cec7c7;
  padding: 20px;
  margin-left: 5px;
  margin-top: 3px;
}

.tresUltimas{
    display: flex;
    align-items: center;
    
}

.exibir3{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
    height: 50px;
    color: red;
    
}
h6{
    display: block;
    color: red;
}
.operadores{
 display: flex;
}

#op1-icon{
  margin-right: 60px;
  cursor: pointer;

}

#op2-icon{
margin-left: -6px;
height: 90px;
margin-top: 7px;
cursor: pointer;
}

.div-atendimento {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }

  #atendimentos{
    margin-top: 50px;
  }
.buttom{
margin-top: 490px;
 margin-left: 600px;
}

.more{
    display: flex;
    margin-left: 570px;
    margin-top: 110px;
}

#mostrar-mais{
    border: none; /* Remove as bordas do botão */
    background-color: red; /* Define a cor de fundo como vermelho */
    color: white; /* Define a cor da fonte como branca */
    padding: 15px 15px;
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

#mostrar-mais:focus {
    outline: none; /* Remove a borda de foco ao clicar no botão */
  }
/* seção direita*/

#lado2{
  display: flex;
  float: right;
  width: 48%;
  height: 90%;
  border: 2px solid #cec7c7;
  padding: 20px;
  margin-right: 15px;
  margin-top: 3px;
}

.seisUltimas{
    
    display: flex;
    align-items: center;
    align-items: center;
    
}

.exibir6{
    display: block;
   
    
    padding: 2px;
    width: 100%;
    height: 50px;
    color: red;
}

h6{
    padding: 6px;
}

h3{
    padding: 6px;
    font-size: 1rem;
}
#operator-icons{
display: flex;
align-items: center;
margin-left: 100px;
padding: 20px;
}

#operador1{
cursor: pointer;
}

#operador2{
    height: 87px;
cursor: pointer;

}

#operador3{
cursor: pointer;
    
}
#table-body{
    display: block;
    margin-top: 30px;
   
}

#loading-message{
    margin-top: 45px;
    padding: 8px;
}

#no-records-message{
    margin-top: 45px;
    padding: 8px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 680px;
}

.exibir{
   margin-top: 100px;
}

#date-range{
    background: red;
    color: white;
    padding: 6px 6px;
}

